<!DOCTYPE html>
<html >
    <head>
        <title>##welcome##</title>
        <link href="./newpro.css" rel="stylesheet" type ='text/css'>
        <script href="./newnew.js"></script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body id = backg>
        <!--<a href="http://www.google.com" id ="google button" >구글로 바로 가기</a>-->
        <div id="button_first" >
            <button id = "button_one" type = 'button' onclick = "location.href = 'http://www.google.com'">go to google</button>

            <button id = 'button_two' type = 'button' onclick = "location.href = 'http://www.naver.com'">mail me</button>
            <button id = 'button_three' type ="button" onclick=" location.href = 'http://www.naver.com'">블로그 홈</button>
        </div>
        <hr>
        <h1 font = "san">Hello</h1><br>
        <div id = 'pic_out'><img src = "./https://github.com/BBoBBi-MoM/django_project/blob/main/blog/templates/blog/ksm/DDAE87E0-774F-41B5-B5C9-4333B2EECAB9.JPG?raw=true" id = 'aa'></div><br>
        <h3 font = "san">about me..</h3>
        <ul id = "listt">
            <li>1997년 10월 27일생</li>
            <li>Fortran 으로 개발 입문 </li>
            <li>공대출신 데이터 사이언스 개발자</li>
            <li><h1>INTP</h1></li>
            <li>게임 만들어 보고 싶음..</li>
            
        </ul>
        <h2>주력 분야</h2>
        <div id = box_1><image src = "./https://github.com/BBoBBi-MoM/django_project/blob/main/blog/templates/blog/ksm/civilengineerenvironment-Large-1.jpeg" width = 200px height = 230px class = " imaga"></image><div class = majorr ><button onclick = "location.href = 'https://ko.wikipedia.org/wiki/%ED%86%A0%EB%AA%A9%EA%B3%B5%ED%95%99'">Civil engineer</button></div></div>
        <div id = box_2><image src = "./https://github.com/BBoBBi-MoM/django_project/blob/main/blog/templates/blog/ksm/1_E1haIGB9K4K89PsFZgm-pw.jpeg"  width = 200px height = 230px class = " imaga"></image><div class = majorr><button onclick = "location.href = 'https://en.wikipedia.org/wiki/Data_science">Data science</button></div></div>
        <div id = box_3><image src = "./https://github.com/BBoBBi-MoM/django_project/blob/main/blog/templates/blog/ksm/what-is-an-algorithm-featured.png"  width = 200px height = 230px class = " imaga"></image><div class = majorr><button onclick = "location.href = 'https://en.wikipedia.org/wiki/Algorithm" >algorithm coding</button></div></div>
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
       
        <h2> 향후 도전 방향..</h2>
        <br>
        <div id = box_4><image src = "./https://github.com/BBoBBi-MoM/django_project/blob/main/blog/templates/blog/ksm/image.jpg" width = 200px height = 230px class = " imaga"></image><div class = majorr ><button onclick = "location.href = 'https://en.wikipedia.org/wiki/Civil_engineer'">Front End</button></div></div>
        <div id = box_5><image src = "./https://github.com/BBoBBi-MoM/django_project/blob/main/blog/templates/blog/ksm/free-icon-database-149206.png" width = 200px height = 230px class = " imaga"></image><div class = majorr ><button onclick = "location.href = 'https://en.wikipedia.org/wiki/Civil_engineer'">Data Base</button></div></div>
        <div id = box_6><image src = "./https://github.com/BBoBBi-MoM/django_project/blob/main/blog/templates/blog/ksm/DHCOM_Computer_On_Module_-_AM35x.jpg" width = 200px height = 230px class = " imaga"></image><div class = majorr ><button onclick = "location.href = 'https://en.wikipedia.org/wiki/Civil_engineer'">Embedded System</button></div></div>
        
        <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
        
        <div id = "movetop"><button onclick="moveToTop()" id="btn-moveTop"></button></div>
    </body>
</html>