<!DOCTYPE html>
<html>
    <head>
        <mata charset="utf-8">
        <title>LEEHEYWON</title>
        <link href="../introduce.html/style01.css" rel="stylesheet" type="text/css">

    </head>


<body style=background-color:#faf0e6;>
    <div class="A">
        <br></br>


    <pre>   이 혜 원 _LEE HEYWON</pre><br>
        
   
    </div>

    <div class="B"> 
    -Profile
    <li>phone:010-9174-7260</li>
    <li>email:3247260@naver.com</li>
    <li>kakaoID:qkdtls</li>
        

    </div>

-Profile
<phone:010-9174-7260>
email:3247260@naver.com
kakaoID:qkdtls

-Education
2021.02 계명대 졸업
관광경영학과 (복수전공.일어일문학과)

-Additional Information
MBTI: ESTJ
취미:맛집 탐방, 발레



-Certificate
2017/MOSMASTER
2019/컴퓨터활용능력1급
        SMAT
2021/전산회계1급
2022/전산세무2급
        ADSP


-Work
2020.10~2020.11: 여성가족재단 인턴
2022.7~2022.11:(주)에이테크 인턴

-Skill
Python 상중하
Pandas 상중하


-데이터 분석 관련 관심분야
아직 미정
차차 배워가며 탐색 후 결정 예정


-향후 계획
sqld와 빅분기 시험 준비 예정








</body>












</html>