/*@import url(//fonts.googleapis.com/earlyaccess/hannari.css);*/
#button_first button{background-color: rgb(98, 187, 25);  /* div 에 button을 추가 해서 버튼으로 만들수 있다*/
    width : 130px ; 
    height : 30px ; 
    }

#button_first button:hover{  color:white;
    background-color: skyblue} 
#movetop button{background-color: rgba(155, 0, 0, 0); border-color: rgba(240, 248, 255, 0); /* div 에 button을 추가 해서 버튼으로 만들수 있다*/
        width : 30px ; 
        height : 30px ;
        
        }

#google button{ width : 10px ; height: 10px; background-color: rgb(99, 139, 99);}
#button_one{border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
#button_two{border-top-right-radius: 0px;
        border-bottom-right-radius: 0px; }  
#button_three{border-top-right-radius: 5px;
            border-bottom-right-radius: 5px; }         
#backg{background-color: rgb(120, 153, 29);
margin-bottom: 800px;}
#aa{top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px; width : 190px ; 
    height : 220px ;}
#pic_out{background-color: coral; width : 200px ; 
    height : 230px ;margin-left : 40px;}

#listt{}
#box_1{ width : 200px ; float: left; margin-left: 40px;
    height : 260px;background-color: rgb(25, 66, 82);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;}
#box_2{width : 200px ; float: left; margin-left: 40px;
    height : 260px;background-color: rgb(25, 66, 82);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;}
#box_3{width : 200px ; float: left; margin-left: 40px;
    height : 260px;background-color: rgb(25, 66, 82); 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;}
#btn-moveTop{ margin-left: 40px ;
    } 
.imaga{border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;}
#box_4{ width : 200px ; float: left; margin-left: 40px;
        height : 260px;background-color: rgb(25, 66, 82);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;}
#box_5{width : 200px ; float: left; margin-left: 40px;
        height : 260px;background-color: rgb(25, 66, 82);
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;}
#box_6{width : 200px ; float: left; margin-left: 40px;
        height : 260px;background-color: rgb(25, 66, 82); 
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;}
.majorr button {background-color: rgb(98, 187, 25); 
    width : 130px ; 
    height : 30px ; }
.majorr button:hover {background-color: rgb(26, 37, 78); 
        width : 130px ; 
        height : 30px ; }