<html>
<head>
	<title>인적사항</title>
	<style type="text/css">
          td{text-align:center; font-size:12pt; color:"blue";}
          p{font-style:"normal"; font-size:15pt; color:"darkblue";}
     </style>
</head>

<body bgcolor=#FFF0F5>
<font size=6 color=#DB7093><b>인적사항</b></font>
<br><br>
<table border=1 bordercolor=skyblue>
     <tr>
          <th rowspan=2><img src="robot.png" width=80 height=100></th>
          <th>한글</th>
          <td align=center>김동우(金東優)</td>  
          <th>생년월일</th>
          <td align=center>1996.11.09.</td>
     </tr>

     <tr>
          <th colspan=2>연락처</th>
          <td colspan=3 align=center>010.6627.0177</td>
     </tr>
</table>
</body>
     
<a href='interests.html'>다음 페이지..</a>

</body>

</html>