<html>
<head>
	<title>지적활동</title>
	<style type="text/css">
		td{text-align:center; font-size:12pt; color:"blue";}
		p{font-style:"normal"; font-size:15pt; color:"darkblue";}
	</style>
</head>

<body bgcolor=#FFF0F5>
<font size=6 color=#DB7093><b>지적활동(知的活動)</b></font>

<p><img src="https://github.com/BBoBBi-MoM/django_project/blob/main/blog/templates/blog/kdw/mel_spectrogram.png?raw=true" width="400" height=200>
	<h6>(소리의 특징(주파수,파형)을 이미지로 나타낸 멜 스펙트로그램)</h6>
</p>

<p>지적활동<hr/>
	오디오처리를 공부하는 중입니다.<br>
	오디오 처리에 쓰이는 신경망을 공부하고 있습니다.<br>
	<br>
</p>
<p>나의 노력<hr/>
	딥러닝 컴퓨터를 마련하기 위해 자금조달중입니다..<br>
	<strong>후원 계좌: 국민은행 795302-04-164-583 (예금주:김동우)</strong>
</p>

</body>

</html>