<!DOCTYPE html>
<html>
    <head>
        <title> ABOUT </title>
    </head>
    <body>

        <div style = "text-align: center;">
        <img src = "./img/kanagawa.jpg" width = "600px"><br>
        <p>2011 ~ 2016: 어학당 + 대학 (카나가와)</p>
        </div>
        <hr/>
    
        <div style = "text-align: center;">
        <img src = "./img/1.JPG" width = "300px"><br>
        <p>2017 ~ 2018: 군 복무 (대구)</p>
        </div>
        <hr/>

        <div style = "text-align: center;">
        <img src = "./img/fukuoka.jpg" width = "600px"><br>
        <p>2019 ~ 2022: 회사 (후쿠오카)</p>
        <hr/>
        <a href = "https://www.chosun.com/culture-life/food-taste/2020/12/11/7NYMKGU6DBCJHAR37WUGJKOKI4/"
        target = '_blank'>바다의 반도체: 김</a>
        </div>
        <hr/>

        <div style = "text-align: center;">
        <img src = "./img/nori.jpg" width = "300px"><br>
        <a href = "./pdf/ariake.pdf" target = '_blank'>~ 入札 ~</a>
        </div>
        <hr/>
        
        <nav>
            <a href = ""><strong>#우리 조 BLOG</strong></a>
            <a href = "./index.html"><strong>#HOME</strong></a>
            <a href = "./about.html"><strong>#ABOUT</strong></a>
            <a href = "./future.html"><strong>#What's in My Head</strong></a>
    
            <link href = "./css/nav.css" rel = "stylesheet" type="text/css">
        </nav>

    </body>
</html>