<!DOCTYPE html>
<html>
    <head>
        <title> What's in My Head </title>       
    </head>
    <body>
        <div style = "text-align: center;">
        <p><strong>[좋아하는 YouTube 채널]</strong></p>
        <a href = "https://www.youtube.com/@sesang101"
        target = '_blank'><i>세상학개론</i></a><br>
        <a href = "https://www.youtube.com/@Sherlock_HJ"
        target = '_blank'><i>셜록현준</i></a><br><br>

        <div style = "text-align: center;">
        <p><strong>[좋아하는 건축가]</strong></p>
        <img src = "./img/ando.jpg" width = "300px"></a><br>
        <i>~ 安藤忠雄 ~</i></a><br><br>

        <div style = "text-align: center;">
        <p><strong>[좋아하는 예술가]</strong></p>
        <img src = "./img/shibuya.jpg" width = "300px"></a><br>
        <img src = "./img/okamoto.jpg" width = "300px"></a><br>
        <i>~ 岡本太郎 ~</i></a><br>

        <div style = "text-align: center;"><br>
        <p><strong>[좋아하는 책]</strong></p>
        <a href = "https://www.forbes.com/profile/peter-thiel"> 
        <img src = "./img/zerotoone.jpg" width = "300px"></a>

        <div style = "text-align: center;"><br>
        <p><strong>[데이터 분석 관련 관심 분야]</strong></p>
        <a href = "https://www.palantir.com/">    
        <img src = "./img/palantir.jpg" width = "600px"></a><br>
        <i>Palantir Technologies</i><br>
        <a href = "https://www.salesforce.com/kr/">        
        <img src = "./img/salesforce.jpg" width = "600px"></a><br>
        <i>Salesforce</i><br><br>
        <p><strong>취업 시 희망 기업: 세일즈포스 (<i>고객 관계 관리 플랫폼</i>)</strong></p>
        <p><strong>하지만, 경쟁 심화 & 성장 감속 경로 진입했다는
            <a href = "https://www.hankyung.com/economy/article/202301117332i"
        target = '_blank'>뉴스</a> (2023. 1. 12.)
        </strong></p>
        <p><strong>이번 <a href = "https://datainstitute.knu.ac.kr/"
        target = '_blank'>코스</a>를 풀 활용 / 내공을 키우는 것이 목표</strong></p>
        </div>
        
        <hr/>

        <nav>
            <a href = ""><strong>#우리 조 BLOG</strong></a>
            <a href = "./index.html"><strong>#HOME</strong></a>
            <a href = "./about.html"><strong>#ABOUT</strong></a>
            <a href = "./future.html"><strong>#What's in My Head</strong></a>

            <link href = "./css/nav.css" rel = "stylesheet" type="text/css">
        </nav>

    </body>
</html>