<!DOCTYPE html>
<html>
    <head>
        <title> HOME </title>       
    </head>
    <style>
        nav {
            background-color: black;
            font-size: 150%;
            text-align: center;
        }
        
        nav a {
            color: gold;
        }
    </style>
    <body>

        <div style = "text-align: center; font-size: xx-large;">
        <strong><i>いらっしゃいませ</i></strong><br>
        <strong><i>이랏샤이마세</i></strong><br>
        <strong><i>lemme introduce myself</i></strong><br>
        <strong><i>~ 김도형 ~</i></strong>
        </div><br>

        <div style = "text-align: center;">
        <img src = "https://github.com/BBoBBi-MoM/django_project/blob/main/blog/templates/blog/kdh/img/tanaka.jpg?raw=true" width = "300px">
        </div>
        
        <hr/>

        <nav>
            <a href = 'http://127.0.0.1:8000/blog/'><strong>#우리 조 BLOG</strong></a>
            <a href = 'http://127.0.0.1:8000/blog/3'><strong>#HOME</strong></a>
            <a href = "about/"><strong>#ABOUT</strong></a>
            <a href = "future/"><strong>#What's in My Head</strong></a>

            <link href = "./css/nav.css" rel = "stylesheet" type="text/css">
        </nav>

    </body>
</html>