<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300&family=Oswald:wght@500&family=Roboto+Mono:wght@200&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title> HoLim's profile </title>
  </head>


  <body>
    <header>
    </header>
      <nav class="menu-bar">
        <div class = "index">
          <div class = "img">
            <img id="porfile-img" src ="images/profile.jpg">
          </div>
          <a href='http://127.0.0.1:8000/blog/'><h3>HOME</h3></a>  
          <!-- 공용홈페이지 링크 추가 -->
          <h3 class="click">ABOUT ME</h3>
          <a href='game.html' target="_blank"><h3>MINI GAME</h3></a> 
        </div>
      </nav>

      <section class="about">
        <header class="name">
          <span style="color: #2B3856;">HoLim Shin</span><br>
          <div class="contacts">
            <p>birth : 1996.05.07</p>
            <p>phone : 010-3113-0782</p>
            <p>Major : Energy Chemical Engineering / Statistics</p>
            <p>MBTI  : ENTP</p>
            <p></p>
          </div>
        </header>
        <br><br>
        <article class="main-introduction">
          <p>재밌는 거 하면서 살고 싶은 신호림입니다.</p><br>
          <p>아직 명확한 진로를 결정 못 했는데 이번 교육과정을 통해 방향성을 찾을 수 있으면 좋겠습니다.</p><br>
          <p style="opacity: 1">부족한 점이 많지만 잘 부탁드립니다.</p><br>
        </article>
        <br><br>
        <footer class="sns-pictogram">
            <hr>
          <a href="https://github.com/ho55ry" target="_blank"><i class="fa-brands fa-github fa-4x"></i></a>
        </footer>
      </section>
  </body>
</html>
